apiVersion: runtime.agentic-layer.ai/v1alpha1
kind: Agent
metadata:
  name: stats-analysis-agent
  namespace: use-case-cross-selling
spec:
  replicas: 1
  image: "stats_analysis_agent:latest"
  protocols:
    - type: A2A
      port: 8000
    - type: OpenAI
  env:
    - name: LITELLM_PROXY_API_KEY
      valueFrom:
        secretKeyRef:
          name: litellm-proxy-api-key-secret
          key: LITELLM_PROXY_API_KEY
    - name: LITELLM_PROXY_API_BASE
      value: "http://litellm.llm-gateway.svc.cluster.local:4000"
    - name: USE_LITELLM_PROXY
      value: "True"
    - name: OTEL_SERVICE_NAME
      value: stats-analysis-agent
  envFrom:
    - configMapRef:
        name: otel-tempo-config
        optional: true