apiVersion: testworkflows.testkube.io/v1
kind: TestWorkflow
metadata:
  name: cross-selling-ragas-evaluation
  namespace: testkube
spec:
  content:
    files:
      - path: /data/datasets/ragas_dataset.jsonl
        contentFrom:
          configMapKeyRef:
            name: datasets
            key: cross-selling-dataset.jsonl
      - path: /app/config/metrics.yaml
        contentFrom:
          configMapKeyRef:
            name: metrics-config
            key: cross-selling-metrics.yaml

  container:
    image: ghcr.io/agentic-layer/testbench/testworkflows:latest

  use:
    - name: ragas-run-template
      config:
        agentUrl: "http://cross-selling-agent.showcase-cross-selling:8000"
    - name: ragas-evaluate-template
      config:
        model: "gemini-2.5-flash-lite"
    - name: ragas-publish-template
    - name: ragas-visualize-template