apiVersion: testworkflows.testkube.io/v1
kind: TestWorkflow
metadata:
  name: insurance-host-ragas-evaluation
  namespace: testkube
  labels:
      {{ include "showcase-cross-selling.labels" . | nindent 4 }}
spec:
  content:
    files:
      - path: /data/datasets/ragas_dataset.jsonl
        contentFrom:
          configMapKeyRef:
            name: datasets
            key: insurance-host-dataset.jsonl
      - path: /app/config/metrics.yaml
        contentFrom:
          configMapKeyRef:
            name: metrics-config
            key: insurance-host-metrics.yaml

  container:
    image: ghcr.io/agentic-layer/testbench/testworkflows:0.3.0

  use:
    - name: ragas-run-template
      config:
        agentUrl: "http://insurance-host-agent.showcase-cross-selling:8000"
    - name: ragas-evaluate-template
      config:
        model: "gemini-2.5-flash-lite"
    - name: ragas-publish-template
    - name: ragas-visualize-template