name: build.yml
on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:


jobs:
  job_id:
    permissions:
        contents: 'read'
        id-token: 'write'

    runs-on: ubuntu-latest

    steps:
        - name: Checkout
          uses: actions/checkout@v4
          with:
            fetch-depth: 0 # required to fetch all history for all branches and tags

        - id: 'auth'
          uses: 'google-github-actions/auth@v2'
          with:
            project_id: 'qaware-paal'
            workload_identity_provider: 'projects/387309373030/locations/global/workloadIdentityPools/github-actions-pool/providers/github-actions-provider'
            service_account: 'github-actions@qaware-paal.iam.gserviceaccount.com'

# Todo docker
# docker image pull
# add docker tag; voller registy Pfad + image
# docker push