#
# GitHub Action: `build-and-publish.yml`
#
# This workflow automates the building and publishing of Docker images to the
# Google Cloud Artifact Registry. It is triggered by pushes to the `main`
# branch, pull requests, or manual dispatches (`workflow_dispatch`).
#
# The workflow runs in two stages:
#   1. `discover-services`: Scans the repository to find all directories
#      that contain a `Dockerfile`.
#   2. `build-and-push-image`: For each service discovered, a parallel job is
#      launched to perform the following:
#         - Authenticate with Google Cloud.
#         - Build the Docker image.
#         - Tag with 'latest'.
#         - Push the tagged image to the GCP Artifact Registry.
#
# The build and push stage is skipped if no services with Dockerfiles are found.
#
name: build-and-publish.yml
on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

env:
  # GCP configuration
  GCP_LOCATION: 'europe-west3'
  GCP_PROJECT_ID: 'qaware-paal'
  GCP_REPOSITORY: 'agentic-layer-private'

jobs:
  discover-services:
    runs-on: ubuntu-latest
    outputs:
      services: ${{ steps.discover-services.outputs.services }}

    steps:
        - name: 'Checkout'
          uses: actions/checkout@v4

        - name: 'Find all services with dockerfiles'
          id: 'discover-services'
          run: |
            SERVICES=$(find . -name 'Dockerfile' -exec dirname {} \; | jq -R -s -c 'split("\n") | map(select(length > 0)) | map(ltrimstr("./"))')
            echo "services=${SERVICES}" >> $GITHUB_OUTPUT
            echo "Found services: $SERVICES"

  build-and-push-image:
    needs: discover-services
    if: ${{ needs.discover-services.outputs.services != '[]'}} # Only run if there are services found
    permissions:
        contents: 'read'
        id-token: 'write'
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false # Ensures that if one build fails, the others will still run
      matrix: # Create the matrix dynamically from the JSON output of the 'discover-services' job
        service: ${{ fromJson(needs.discover-services.outputs.services) }}

    steps:
        - name: 'Checkout'
          uses: 'actions/checkout@v4'
          with:
            fetch-depth: 0 # required to fetch all history for all branches and tags

        - name: 'Authenticate to Google Cloud'
          id: 'auth'
          uses: 'google-github-actions/auth@v2'
          with:
            project_id: 'qaware-paal'
            workload_identity_provider: 'projects/387309373030/locations/global/workloadIdentityPools/github-actions-pool/providers/github-actions-provider'
            service_account: 'github-actions@qaware-paal.iam.gserviceaccount.com'

        - name: 'Configure Docker for Artifact Registry'
          run: gcloud auth configure-docker ${{ env.GCP_LOCATION }}-docker.pkg.dev

        - name: 'Extract Image Name from Path'
          id: 'extract_name'
          run: |
            IMAGE_NAME=$(basename ${{ matrix.service }})            
            echo "image-name=${IMAGE_NAME}" >> $GITHUB_OUTPUT
            echo "Extracted Image Name: $IMAGE_NAME"

        - name: 'Generate Image Tag'
          id: 'generate_tag'
          run: |
            # Set tag to latest, for unique tags use 
            # IMAGE_TAG=$(git describe --tags --always ${{ github.ref_type != 'tag' && '--long' || '' }})
            IMAGE_TAG=latest            
            echo "image-tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
            echo "Generated Tag: $IMAGE_TAG"            

        - name: 'Build and Tag Docker Image'
          id: 'build'
          run: |
            # Build the image and tag it with both 'latest' and the commit hash
            docker build -t ${{ env.GCP_LOCATION }}-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{ env.GCP_REPOSITORY }}/${{ steps.extract_name.outputs.image-name }}:${{ steps.generate_tag.outputs.image-tag}} \
                         -f ${{ matrix.service }}/Dockerfile \
                        .

        - name: 'Push Image to Artifact Registry'
          run: |
            # Push the newly tagged image
            docker push ${{ env.GCP_LOCATION }}-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{ env.GCP_REPOSITORY }}/${{ steps.extract_name.outputs.image-name  }}:${{ steps.generate_tag.outputs.image-tag }}
